*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

}

.container1{
    width: 100%;
    height: 120vh;
    background-image: url(background-image.jpg);
    background-position: center;
    background-size:cover ;
    position: relative;
}
.container2{
    margin-top: 200px;
    margin-left: 450px;
    /* margin: auto; */
    padding: 70px;
    width: 40%;
    height: 40vh;
    border-radius: 20px;
    background-color: bisque;
    background-position: center;
    background-size:cover ;
    position: relative;
}

#id1{
    margin: auto;
    padding: 19px;
    text-align: center;
    display: block;
    font-size: 33px;
}
#id2{
    margin: auto;
    padding: 19px;
    text-align: center;
    display: block;
    font-size: 33px;
}
.left{
    position: absolute;
    left: 40px;
    top: 20px;
    
    color: white ;
    display: inline-block;
}
.left img{
    width: 200px;
}
.left div{
    font-size: 25px;
    text-align: center;
    color: black;
    background-color: white;
}
.right{
    position: absolute;
    right: 34px;
    top: 50px;
    color: white;
    display: inline-block;
}
.right button{
    font-size: 20px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
}
.mid{
    display:flex;
    justify-content: center;
    width: 40%;
    padding: 70px ;
    transform: translate(70%,0);
    color: black;
    font-size: 40px;
    
    
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
}
.navbar li a{
    color: black  ;
    text-decoration: none;
    padding: 34px 23px ;
}
.navbar li a:hover, .navbar li  a.active{
    text-decoration: underline;
    color: grey;
}


/* home page css */
